body {
  background-color: #100806;
  padding: 0;
  margin: 0px;
  // overflow: hidden;
  // font-family: "Source Code Pro";
  // color: rgb(231, 208, 186);
  // font-size: 16px;
  // width: 100vw;
  // overflow: hidden;
}

// #container {
//   width: 100vw;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   padding: 20px;

//   >div {
//     width: 500px;
//   }
// }

#album {
  width: 100%;
}

.slider {
  margin-top: 20px;
  width: 100%;
  width: 1500px;
  position: relative;
  height: 20px;
  background-color: #53352e;
  // max-width: 500px;

  .thumb {
    top: 1px;
    height: 18px;
    width: 10px;
    position: absolute;
    background-color: rgb(231, 208, 186);
    cursor: pointer;
  }
}

button {
  font-family: "Source Code Pro";
  color: rgb(231, 208, 186);
  font-size: 14px;
  padding: 4px;
  margin-right: 5px;
  width: 80px;
  background-color: #100806 ;
}

.list {
  font-family: "Source Code Pro";

  .list-item {
    font-size: 14px;
    line-height: 1.75em;
    color: rgb(231, 208, 186);
    // margin-bottom: 7px;
    font-style: normal;
    font-weight: 300;
    cursor: pointer;
    user-select: none;

    &:hover {
      color: white;
    }

    &.active {
      color: white;
      text-decoration: underline;
    }
  }
}

.transport-controls {
  margin-top: 30px;
}

.position-display {
  margin-top: 20px;
  font-size: 14px;
}
