body {
  background-color: #100806;
  padding: 0;
  margin: 0px;
  // overflow: hidden;
  font-family: "Source Code Pro";
  color: rgb(231, 208, 186);
  font-size: 16px;
}

button {
  font-family: "Source Code Pro";
  color: rgb(231, 208, 186);
  font-size: 16px;
  padding: 4px;
  margin-right: 5px;
  width: 100px;
  background-color: #100806 ;
}

.list {
  font-family: "Source Code Pro";

  .list-item {
    font-size: 16px;
    line-height: 1.75em;
    color: rgb(231, 208, 186);
    // margin-bottom: 7px;
    font-style: normal;
    font-weight: 300;
    cursor: pointer;
    user-select: none;

  }
}

input[type='range']{
  -webkit-appearance: none;
  height: 15px;
  background-color: #53352e;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
  background-color: rgb(231, 208, 186);
  width: 10px;
  height: 17px;
}

input[type=range]::-moz-range-thumb {
  background-color: rgb(231, 208, 186);
  width: 10px;
  height: 17px;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none; 
}

