body {
  background-color: #100806;
  padding: 0;
  margin: 0px;
  color: white;
}

div {
  box-sizing: border-box;
}

#editor {
  width: 100%;
}

button {
  font-family: "Source Code Pro";
  color: rgb(231, 208, 186);
  font-size: 14px;
  padding: 4px;
  margin-right: 5px;
  background-color: #100806;
}

.menu {
  width: 100vw;
  display: flex;
  button {
    min-height: 30px;
    font-family: monospace;
    margin: 4px;
    padding: 0 20px 0 20px;

    &.transport {
      width: 80px;
    }
  }
  #zoom-range {
    align-self: center;
  }

  .react-slider {
    flex-grow: 0;
    flex-shrink: 0;
    white-space: nowrap;
    height: 25px;
    margin-top: 4px;
    margin-right: 4px;
    display: block;
    input[type="range"] {
      vertical-align: middle;
    }
    label {
      display: inline-block;
      min-width: 100px;
    }
  }
}

.position-display {
  margin-top: 20px;
  font-size: 14px;
}

.scrollable {
  margin-top: 20px;
  overflow-x: scroll;
  width: 100vw;
  position: relative;

  .note {
    position: absolute;
    // background-color: red;
    background-color: rgba(231, 208, 186, 0.6);
    height: 15px;
  }

  .piano-roll-notes {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.05);
    // height: 100%;
    top: 0px;
    z-index: 2;
  }

  .piano-roll-note-current {
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 3;
  }

  .piano-roll-grid {
    position: absolute;
    z-index: 1;
    border-top: 1px solid rgba(231, 208, 186, 0.8);
    // padding-bottom: 20px;
    // height: 100%;

    &.rows {
      display: flex;
      flex-direction: column;

      .pr-row {
        border-bottom: 1px solid rgba(231, 208, 186, 0.8);
        // width: 100%;
        // flex-grow: 1;
        &:nth-child(2n) {
          background-color: rgba(255, 255, 255, 0.1);
        }
        // justify-content: space-evenly;
      }
    }

    &.columns {
      display: flex;
      flex-direction: row;
      // height: 100%;

      .pr-column {
        // flex-basis: auto;
        // height: 100%;
        // flex-grow: 1;
        border-right: 1px dotted rgba(231, 208, 186, 0.4);
        &:nth-child(4n) {
          border-right: 1px solid rgba(231, 208, 186, 0.6);
        }
        &:nth-child(16n) {
          border-right: 1px solid rgb(231, 208, 186);
        }
      }
    }
  }
}

.playhead {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 41px;
  height: calc(100% + 10px);
  background-color: rgba(20, 132, 227, 0.2);
  display: flex;
  justify-content: center;
  z-index: 0;
  margin-left: -20px;
  div {
    // should be able to receive pointer events
    z-index: 4;
    width: 1px;
    height: 100%;
    background-color: #1484e3;
  }
}
