body {
  background-color: #100806;
  // padding: 0;
  // margin: 0px;
  // color: white;
}

div {
  box-sizing: border-box;
}

#editor {
  width: 100%;
}

button {
  font-family: "Source Code Pro";
  color: rgb(231, 208, 186);
  font-size: 14px;
  padding: 4px;
  margin-right: 5px;
  background-color: #100806;
}

.menu {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;

  div {
    display: flex;

    button {
      min-height: 30px;
      font-family: "Source Code Pro";
      margin: 4px;
      padding: 0 10px 0 10px;

      &.transport {
        width: 60px;
      }
    }
    #zoom-range {
      margin-left: 15px;
      align-self: center;
    }

    .react-slider {
      flex-grow: 0;
      flex-shrink: 0;
      white-space: nowrap;
      height: 25px;
      margin-top: 4px;
      margin-right: 4px;
      display: block;
      input[type="range"] {
        vertical-align: middle;
      }
      label {
        display: inline-block;
        font-family: "Source Code Pro";
        font-size: 14px;
        color: rgb(231, 208, 186);
        min-width: 80px;
        padding-left: 8px;
      }
    }
  }
}

.position-display {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  div {
    font-family: "Source Code Pro";
    color: rgb(231, 208, 186);
    // margin-top: 20px;
    font-size: 14px;
  }
}

.scrollable {
  margin-top: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  position: relative;

  .piano-roll-notes {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.05);
    // height: 100%;
    top: 0px;
    z-index: 2;
    .note {
      position: absolute;
      // background-color: red;
      background-color: rgba(231, 208, 186, 0.6);
      height: 15px;
    }
  }

  .piano-roll-current-note {
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 3;
    .note {
      position: absolute;
      background-color: rgba(20, 132, 227, 0.4);
      height: 15px;
    }
  }

  .piano-roll-grid {
    position: absolute;
    z-index: 1;
    border-top: 1px solid rgba(231, 208, 186, 0.8);
    // padding-bottom: 20px;
    // height: 100%;

    &.rows {
      display: flex;
      flex-direction: column;

      .pr-row {
        border-bottom: 1px solid rgba(231, 208, 186, 0.8);
        // width: 100%;
        // flex-grow: 1;
        &:nth-child(2n) {
          background-color: rgba(255, 255, 255, 0.1);
        }
        // justify-content: space-evenly;
      }
    }

    &.columns {
      display: flex;
      flex-direction: row;
      // height: 100%;

      .pr-column {
        // flex-basis: auto;
        // height: 100%;
        // flex-grow: 1;
        border-right: 1px dotted rgba(231, 208, 186, 0.4);
        &:nth-child(4n) {
          border-right: 1px solid rgba(231, 208, 186, 0.6);
        }
        &:nth-child(16n) {
          border-right: 1px solid rgb(231, 208, 186);
        }
      }
    }
  }
}

.playhead {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 41px;
  height: calc(100% + 10px);
  background-color: rgba(20, 132, 227, 0.2);
  display: flex;
  justify-content: center;
  z-index: 10;
  margin-left: -20px;
  div {
    // should be able to receive pointer events
    z-index: 4;
    width: 1px;
    height: 100%;
    background-color: #1484e3;
  }
}

.form {
  margin-top: 60px;
  max-width: 500px;
  width: 100%;
  .form-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    // justify-content: space-around;
    div {
      font-family: "Source Code Pro";
      color: rgb(231, 208, 186);
      font-size: 14px;
      width: 160px;
    }
    input[type="text"],
    input[type="email"] {
      width: calc(100% - 160px);
      height: 30px;
      padding: 3px;
      font-size: 16px;
      background-color: rgb(50, 50, 50);
      color: rgb(231, 208, 186);
    }
    textarea {
      font-family: "Source Code Pro";
      color: rgb(231, 208, 186);
      font-size: 16px;
      width: calc(100% - 160px);
      height: 50px;
      padding: 3px;
      background-color: rgb(50, 50, 50);
    }
    &:last-child {
      justify-content: flex-end;
      button {
        margin: 0;
        margin-top: 5px;
      }
    }
  }
}

.debug {
  margin-top: 20px;
  border-top: 1px solid rgb(231, 208, 186);
}

.no-chromium-warning {
  margin-top: 20px;
  font-size: 14px;
  color: rgb(231, 208, 186);
  font-family: "Source Code Pro";
}
