body {
  background-color: #100806;
  padding: 0;
  margin: 0px;
  color: white;
}

#editor {
  width: 100%;
}

button {
  font-family: "Source Code Pro";
  color: rgb(231, 208, 186);
  font-size: 14px;
  padding: 4px;
  margin-right: 5px;
  width: 80px;
  background-color: #100806;
}

.transport-controls {
  margin-top: 30px;
}

.position-display {
  margin-top: 20px;
  font-size: 14px;
}

.piano-roll {
  border-top: 1px solid rgb(231, 208, 186);
  margin-top: 20px;

  .pr-row {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(231, 208, 186);
    // justify-content: space-evenly;

    .pr-column {
      // flex-basis: auto;
      flex-grow: 1;
      height: 30px;
      border-right: 1px dotted rgb(231, 208, 186);
      &:nth-child(4n) {
        border-right: 2px solid rgb(231, 208, 186);
      }
    }
  }
}
